@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .antd-custom-menu .ant-menu-submenu-title {
    display: none !important;
  }

  .antd-custom-menu .ant-menu-submenu {
    background: #070663 !important;
  }

  .antd-custom-menu .ant-menu-sub {
    background: #070663 !important;
  }

  .antd-custom-menu .ant-menu-item {
    @apply font-urbanist p-0 py-2 text-lg font-medium text-white;
    color: white !important;
    padding-left: 0px !important;
    text-align: center;
    margin-bottom: 16px !important;
  }

  .antd-custom-menu .ant-menu-item-selected {
    background-color: #070663 !important;
  }
}
